@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgba(0, 12, 24, 0.927);
    color: rgba(0, 184, 197);
    width: 100vw;
    margin: 40px;
}

.aluno {
    display: flex;
    max-width: 450px;
    justify-content: space-between;   
}

.estilo {
    padding: 15px;
    background-color: rgba(0, 23, 45);
    color: rgba(0, 184, 197);
}

.nome {
    flex-grow: 1;
}

.aprovado {
    background-color: rgba(0, 255, 128);
    color: rgba(0, 23, 45);
}

.reprovado {
    background-color: rgba(255, 0, 72);
    color: rgba(0, 23, 45);
}

button {
    margin-top: 20px;
    background-color: rgba(153, 102, 184);
    color: rgba(0, 23, 45);
    border: solid rgba(81, 5, 129);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    margin-top: 20px;
    background-color: rgba(81, 5, 129);
    color: rgba(255, 255, 255);
    border: solid rgba(153, 102, 184);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.resultado {
    width: 80px;
}

.input-nota {
    background-color: rgba(0,23,45);
    color: rgba(0, 184, 197);
    border: 1px dashed rgba(0, 184, 197);
    width: 35px;
}