body {
    background-color: #f9f9f9;
}

.header{
    height: 60px;
    background-color: #3e4095;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333333;
    height: 2.5rem;
}

.frase {
    font-weight: 400;
    font-size: 13px;
    color: #595959;
    margin-right: 10px;
}

.alterar {
    font-size: 13px;
}

.img-logo{
    width: 180px;
}

.img-login{
    width: 30px;
    border-radius: 50%;
    
}

.img-main {
    width: 100vw;
    height: 800px;
}

a{
    text-decoration: none;
    color: #ffff;
    transition: 0.5s;
}

a:hover{
    color: aqua;
}